@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    color: white;
}

body {
    font-family: Roboto, sans-serif;
}
/* 
.back {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url ("./ASSETS/background_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 98vh;
    width: 99vw;
    margin-top: -8px;
    margin-left: -8px;
   
} */

/* .curve-in {
    height: 10vh;
    width: 100vw;
    background: linear-gradient(to right,black,rgb(255, 0, 204),red,rgb(255, 0, 204), black);
    position: relative;
    top: 90%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
} */

/* .curve-out {
    height: 90%;
    width: 100%;
    background: radial-gradient(ellipse at 50% 0, blue, black 50%);
    position: absolute;
    top: 10%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
} */

/* styling the curve */

.hero {
    position: relative;
    width: 1344px;
    height: 50px;
    overflow: hidden;
    position: relative;
    margin-left: -8px;
    background: #000;
}



.netflix-curve {
    position: absolute;
    width: 130%;
    height: 200px;
    top: 10px;
    margin-left: 1px;
    border-top: 4px solid #e50914;
    border-radius: 90%;
    box-shadow: 0px -10px 20px rgba(229, 9, 20, 0.4);
}

/* styling the main container */

.main-container {
    background-image:url("./ASSETS/background_image.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 98vh;
    width: 99vw;
    margin-top: -8px;
    margin-left: -8px;
    
} 



.main-container .logo img {
    width: 20vw;
    height: 20vh;
    margin-top: px;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-in button {
    background-color: red;
    border-radius: 8px;
    margin-right: 50px;
    margin-top: -90px;
    width: 80px;
    height: 40px;
}


.logo img {
    padding: 0px;
    padding-top: 5px;
    padding-left: 150px; 
}

.account-creation {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.account-creation h1 {
    font-size: 50px;
    font-weight: 900;
    margin-top: 50px;
    padding-bottom: 90px;
    margin-left: 300px;
    width: 50vw;
    height: 30px;
    
}
.account-creation {
    padding-top: 50px;
    margin-bottom: 2px;
    align-content: center;
}

.signing-up-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    gap: 2px;

}

.signing-up-form input {
    background: none;
    padding: 10px;
    width: 370px;
    height: 58px;
    font-size: 20px;
    border: none;
}

form {
    border: 1px solid white;
    border-radius: 8px;
}



.official-sign-up {
    height: 58px;
    width: 215px;
    background-color: red;
    font-size: 20px;
    border-radius: 8px;
    /* margin-bottom: 230px; */
}


/*  styling the trending cards*/

.trending-cards {
    background-color: black;
    margin-top: -22px;
    margin-left: -10px;
    margin-right: -9px;
    height: 1000px;
}

.card-wrapper {
    margin: 5px;
    display: inline-block;
    position: relative;
}

.card1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: black;
    font-size: 80px;
}

.card2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: black;
    font-size: 80px;
}

.card3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: black;
    font-size: 80px;
}

.card4 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: black;
    font-size: 80px;
}

.card5 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: black;
    font-size: 80px;
}

.card6 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: black;
    font-size: 80px;
}

.card7 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: black;
    font-size: 80px;
}

.card8 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: black;
    font-size: 80px;
}

.card9 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: black;
    font-size: 80px;
}

.card10 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: black;
    font-size: 80px;
}

/* styling the trailer-video */

.trailer-video {
    background-color: black;
    width: ;
    height: px;
}


/* styling the benefits section */

.benefits {
    display: flex;
    height: 400px;
    width: px;
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -22px;
    margin-top: -65px;
}

.joining-cards {
    display: flex;
    width: 1000px;
    height: 30vh;
    gap: 20px;
    margin-left: 150px;
    margin-top: 100px;
    
}





/* styling the FAQ-section */

.FAQ-Section {
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -19px;
    margin-bottom: -19px;
    padding-left: 80px;
}

.FAQ-Section h3 {
    padding-left: 40px;
    padding-top: 62px;
    font-size: 22px;

}

.questions-list {
    list-style-type: none;
    height: 800px;
}

.questions-list button {
    width: 1000px;
    height: 85px;
    background-color: grey;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
}

/* styling the collapsable faq-section */

.faq-item {
    list-style: none;
    margin-bottom: 8px;
    width: 100%;
}

.faq-toggle {
    display: none;
}

.faq-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #2d2d2d;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.faq-label:hover {
    background: #414141;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    background: #2d2d2d;
    transition: max-height 0.2s cubic-bezier(0.5, 0, 0.1, 1);
    margin-top: 1px;
}

.faq-content {
    padding: 20px 30px;
    color: white;
    font-size: 1.2rem;
}

.faq-toggle:checked ~ .faq-content {
    max-height: 600px;
}

.faq-toggle:checked ~ .faq-label .icon{
    transform: rotate(45deg);
}

.icon {
    font-size: 2rem;
    transition: transform 0.2s ease;
}

/* styling the joining section */

.joining {
    background-color: black;
    align-items: center;
    padding-bottom: 110px;
    
}

.joining h3 {
    padding-left: 400px;
    font-size: 15px;
    
}

/* styling the footer sign-up section */

/* .footer-sign-up {
     margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: ; 
} */

.signing-up-form form {
    width: 500px;
    height: 20px;
    padding-bottom: 60px;
}

.footer-sign-up .signing-up-form button {
    height: 65px;
}

/* styling the sign-in section */

.footer sign-up {
    background-color: black;
}





/* styling the footer section */

footer {
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -16px;
}

.footer-info {
    padding-left: 80px;

}

.customer-line {
    padding-left: 40px;
}
#footer-list {
    list-style-type: none;
    columns: 4;
}

.language-selection {
    margin-left: 40px;
}

.netflix-south {
    padding-top: 20px;
    margin-left: 40px;
}

.recaptcha {
    /* margin-top: 25px; */
    padding-bottom: 50px;
    margin-left: 40px;

}

